<ion-tabs color="condorSecondary">
  <ion-tab-bar mode="ios">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{ "TABS.HOME" | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="services">
      <ion-icon name="list"></ion-icon>
      <ion-label>{{ "TABS.SERVICES" | translate }}</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="notification">
      <ion-badge color="danger" *ngIf="notification">
        <span [ngClass]="(total$ | async) !== 0 ? 'text-white' : 'text-danger'" >
          {{ total$ | async }}</span>
      </ion-badge>
      <ion-icon name="notifications"></ion-icon>
      <ion-label>{{ "TABS.NOTIFICATIONS" | translate }}</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
x
