ion-content, ion-item, ion-list, ion-accordion-group, ion-accordion {
  --background: #fafafa;
  background: #fafafa;
}

ion-content {
  ion-segment {
    --background: #d8d8d8;
    ion-segment-button{
      --indicator-color: #fafafa;
    }
  }
  ion-list {
    ion-item {
      ion-label {
        p{
          &:last-child {
            font-size: .8rem;
          }
        }
      }
    }
  }
}
ion-header {
  ion-toolbar {
    ion-title {
      --color: rgb(57, 57, 57);
    }
  }
}
agm-map  {
  height: 86vh;
}

ion-footer {
  ion-toolbar {
    --background: none;
  }
}


#mapa-mapbox, .mapboxgl-canvas {
  width: 100%;
  height: 90vh;
}


mgl-map {
  width: 100%;
  height: 90vh;
}
