<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" *ngIf="!item$">
      <ion-back-button defaultHref="/pages/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "CHOOSE PROVIDER" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="(item$ | async) as item">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="onCancelService(item)">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-segment mode="ios" [value]="value" (ionChange)="segment($event)">
    <ion-segment-button value="LIST">
      <ion-label>{{ "LIST" | translate | titlecase }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="MAPS">
      <ion-label>{{ "MAPS" | translate | titlecase }}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div class="mt-1" *ngIf="value === 'MAPS'; else list">
    <agm-map
      [latitude]="position.latitude"
      [longitude]="position.longitude"
      [zoom]="16"
      [disableDefaultUI]="false">
      <!-- <agm-marker
        [iconUrl]="pathIcon"
        [latitude]="position.latitude"
        [longitude]="position.longitude">
      </agm-marker> -->
      <agm-marker *ngFor="let provider of provider$ | async as list"
        [iconUrl]="serviceIcon"
        [latitude]="provider.latitude"
        [longitude]="provider.longitude">
        <agm-info-window>
          <ion-label>
            <p style="font-weight: 400; margin-bottom: .15rem">Distancia {{ provider.distance | unitConverted }}</p>
            <h2 style="margin-bottom: .20rem;">{{ provider.name }}</h2>
            <p class="mb-1">{{ provider.address }}</p>
          </ion-label>
          <ion-button size="small" (click)="sendProviderService(item, provider)" color="danger">
            {{ 'SERVICE.SEND' | translate }}
          </ion-button>
          <ion-button size="small" (click)="onViewProfileProvider(item, provider)" color="primary">
            {{ 'SERVICE.VIEW INFO' | translate }}
          </ion-button>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
  <ng-template #list>
    <ion-list>
      <ion-item *ngFor="let provider of provider$ | async">
        <ion-label>
          <h3>{{ provider.name | titlecase }}</h3>
          <app-stars-widget [score]="provider.user.score"></app-stars-widget>
          <p>
            {{ "SERVICE.DISTANCE" | translate | titlecase }}
            {{ provider.distance }}
          </p>
          <p class="ion-text-wrap">{{ provider.address }}</p>
          <ion-button (click)="sendProviderService(item, provider)" color="danger" size="small" class="me-2">
            {{ "SERVICE.SEND" | translate | uppercase }}
          </ion-button>
          <ion-button (click)="onViewProfileProvider(item, provider)" color="primary" size="small">
            {{ "SERVICE.VIEW INFO" | translate | uppercase }}
          </ion-button>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>
