ion-content, ion-list, ion-toolbar {
  background: #fafafa;
  --background: #fafafa;
  ion-list {
    ion-item {
      --background: none;
      --padding-start: 10px;
      --padding-inner-end: 10px;
      ion-label {
        --color: #393939;
        h2 {
          color: #393939;
        }
      }
      ion-textarea {
        border-radius: 10px;
        --padding-end: 10px;
        --background: #e4e4e4;
        --padding-start: 10px;
        --color: rgb(55, 55, 55);
      }
    }
  }
}
