<ion-menu side="end" menuId="first" contentId="main" *ngIf="(user$ | async) as user">
  <ion-header>
    <ion-toolbar>
      <ion-item lines="none" class="my-3">
        <ion-avatar slot="start" *ngIf="user.picture; else notAvatar">
          <img [src]="user.picture" />
        </ion-avatar>
        <ion-label>
          <h2>{{ user.fist_name }} {{ user.last_name }}</h2>
          <h4>{{ user.email }}</h4>
          <p>
            <span>4.7</span>
            <ion-icon name="star" class="ms-1"></ion-icon>
          </p>
        </ion-label>
      </ion-item>
      <ion-item detail="true" class="mt-2" (click)="onLink('/user/profile')">
        <ion-label><h2>{{ "SIDEMENU.PROFILE" | translate }}</h2></ion-label>
      </ion-item>
      <ion-item detail="true" class="mt-2" (click)="onLink('/chat/soporte')">
        <ion-label><h2>{{ "SIDEMENU.MESSAGES" | translate }}</h2></ion-label>
      </ion-item>
      <ion-item lines="none"  (click)="signOut()" class="my-1">
        <ion-label>
          <h2>{{ "SIDEMENU.SIGN_OUT" | translate }}</h2>
        </ion-label>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list id="inbox-list">
      <ion-item>
        <ion-label>{{ "SIDEMENU.PAGES" | translate }}</ion-label>
      </ion-item>
      <ion-menu-toggle auto-hide="false">
        <ion-item class="my-1" lines="none" detail="false">
          <ion-label>{{ 'SIDEMENU.HELP_CENTER' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="false" *ngFor="let item of menus" (click)="onPost(item)">
        <ion-item class="my-1" lines="none" detail="false">
          <ion-label>{{ item | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="false">
        <ion-item class="my-1" lines="none" detail="false" (click)="openBrowser('https://appmeka.com/')">
          <ion-label>{{ 'SIDEMENU.ABOUT' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-item>
        <ion-label>{{ "SIDEMENU.SOCIAL" | translate }}</ion-label>
      </ion-item>
      <ion-menu-toggle auto-hide="false" *ngFor="let item of social">
        <ion-item class="my-1" lines="none" detail="false">
          <ion-icon [name]="item.icon" slot="start"></ion-icon>
          <ion-label>{{ item.name | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
  <ion-footer class="ion-no-border">
    <ion-toolbar mode="ios">
      <ion-title>
        <p class="small mb-0">{{ appVersion.name || 'Meka' }} v{{ appVersion.version || '2.0.0' }}</p>
      </ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-menu>
<ng-template #notAvatar>
  <ion-avatar slot="start" *ngIf="(user$ | async) as user">
    <div class="meka">
      <p>{{ getName(user.fist_name, user.last_name) }}</p>
    </div>
  </ion-avatar>
</ng-template>
