ion-content, ion-toolbar, ion-item, ion-list {
  --background: #fafafa;
  background: #fafafa;
}


ion-accordion {
  .title {
    // --background: #dfdfdf;
    ion-label, ion-icon {
      --color: var(--ion-meka-primary);
      color: var(--ion-meka-primary);
    }
  }
  ion-list {
    ion-item {
      --color: var(--ion-meka-primary);
    }
  }
}

.map-wrapper {
  position: relative;
  --background: none;
  --height: 200px;
  --padding-start: 0px;
  --inner-padding-end: 0px;
  #map {
    width: 100%;
    height: 250px;
  }
  #map_center {
    position: absolute;
    z-index: 99;
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    margin-left: -21px;
    margin-top: -41px;
  }
}


agm-map  {
  height: 400px;
}
