ion-content, ion-toolbar, ion-item, ion-list {
  --background: #fafafa;
  background: #fafafa;
}

ion-badge {
  --background: var(--ion-meka-primary);
  --color: #e0ac08;
}

ion-title {
  --color: var(--ion-meka-primary);
  color: var(--ion-meka-primary);
}

ion-accordion {
  .title {
    // --background: #dfdfdf;
    ion-label, ion-icon {
      --color: var(--ion-meka-primary);
      color: var(--ion-meka-primary);
    }
  }
  ion-list {
    ion-item {
      --color: var(--ion-meka-primary);
    }
  }
}

agm-map  {
  min-height: 400px;
}
