<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title>Provider Service</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-accordion-group value="detail" mode="ios">
    <ion-accordion value="detail">
      <ion-item class="title" slot="header">
        <ion-icon slot="start" name="list"></ion-icon>
        <ion-label><strong>{{ 'INFORMATION' | translate | titlecase }}</strong></ion-label>
      </ion-item>
      <ion-list lines="none" slot="content">
        <ion-item>
          <ion-icon slot="start" name="calendar-outline"></ion-icon>
          <ion-label>{{ provider.name }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="build-outline"></ion-icon>
          <ion-label>{{ provider.typeCompany.name | titlecase }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="business-outline"></ion-icon>
          <ion-label class="ion-text-wrap">{{ provider.address }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="star"></ion-icon>
          <ion-label class="ion-text-wrap">
            4.3
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="payment">
      <ion-item class="title" slot="header">
        <ion-icon slot="start" name="list"></ion-icon>
        <ion-label><strong>{{ 'PAYMENT' | translate | titlecase }}</strong></ion-label>
      </ion-item>
      <ion-list lines="none" slot="content">
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-badge color="primary" *ngFor="let code of provider.payment" class="mx-1">
              {{ code }}
            </ion-badge>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="services">
      <ion-item class="title" slot="header">
        <ion-icon slot="start" name="list"></ion-icon>
        <ion-label><strong>{{ 'SERVICES' | translate | titlecase }}</strong></ion-label>
      </ion-item>
      <ion-list lines="none" slot="content">
        <ion-item>
          <ion-label  class="ion-text-wrap">
            <ion-badge *ngFor="let code of provider.categories" class="mx-1">
              {{ code.name }}
            </ion-badge>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
    <!-- <ion-accordion value="location">
      <ion-item class="title" slot="header">
        <ion-icon slot="start" name="location-outline"></ion-icon>
        <ion-label><strong>{{ 'LOCATION' | translate | titlecase }}</strong></ion-label>
      </ion-item>
      <ion-list lines="none" slot="content">
        <agm-map
          [latitude]="provider.latitude"
          [longitude]="provider.longitude"
          [zoom]="18">
          <agm-marker
            [latitude]="+provider.latitude"
            [longitude]="+provider.longitude">
          </agm-marker>
        </agm-map>
      </ion-list>
    </ion-accordion> -->
    <ion-accordion value="comments">
      <ion-item class="title" slot="header">
        <ion-icon slot="start" name="chatbubble-outline"></ion-icon>
        <ion-label><strong>{{ 'COMMENTS' | translate | titlecase }}</strong></ion-label>
      </ion-item>
      <ion-list slot="content" lines="none">
        <ion-item class="map-wrapper">
          <ion-label>
            <h1 class="ion-padding-horizontal">{{ 'NOT_FOUND' | translate | titlecase }}</h1>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
  <ion-footer class="ion-no-border ion-margin-top" *ngIf="service">
    <ion-toolbar mode="ios" >
      <ion-button (click)="sendServiceByProvider()" expand="block" color="warning">
        {{ 'SERVICE.SEND' | translate | uppercase }}
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>


