<app-header></app-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
   <ion-list lines="none" *ngIf="!load; else loading">
    <div class="notFound" *ngIf="total === 0; else ok" >
      <ion-label>
        <ion-icon name="happy-outline"></ion-icon>
        <h2>Not Found</h2>
      </ion-label>
    </div>
  </ion-list>
</ion-content>

<ng-template #loading>
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
  <div class="spinner">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
</ng-template>

<ng-template #ok>
  <ion-item button *ngFor="let item of items$ | async;" (click)="openService(item)" [detail]="false">
    <ion-label>
      <p class="date">{{ item.date_reg | amTimeAgo }} ({{ item.status | titlecase  }}) </p>
      <h1 class="code">{{ item.code }}</h1>
      <h2 class="vehicle"> {{ item.vehicle_model?.brand }} {{ item.vehicle_model?.model }} </h2>
    </ion-label>
    <ion-avatar slot="end" class="expert">
      <img [src]="item.expert_icon" />
    </ion-avatar>
  </ion-item>
</ng-template>

