<app-header></app-header>
<ion-content *ngIf="!load; else spinner">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
   </ion-refresher>
  <div *ngIf="total> 0; else notFound"></div>
</ion-content>
<ng-template #spinner>
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="chevron-down-circle-outline"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
     </ion-refresher>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    <div class="spinner">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ion-content>
</ng-template>
<ng-template #notFound>
  <div class="notFound">
    <ion-label>
      <ion-icon name="happy-outline"></ion-icon>
      <h2>Not Found</h2>
    </ion-label>
  </div>
</ng-template>
