<ion-content>
  <div class="container pt-5">
    <div class="row justify-content-center">
      <div class="col-6 col-md-5 mb-4">
        <div class="text-center pt-5">
          <img src="./assets/images/logo-meka-white.png" class="img-fluid pt-4" alt="">
        </div>
      </div>
      <div class="col-12 col-md-10">
        <ng-container *ngIf="active; else forgotPwd">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-md-7">
                <form [formGroup]="loginForm">
                  <ion-item>
                    <ion-label position="stacked">{{ 'SIGN.EMAIL' | translate }} <ion-text color="danger">*</ion-text></ion-label>
                    <ion-input required type="email" formControlName="username"></ion-input>
                  </ion-item>
                  <ion-item *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched">
                    <ion-text color="danger" class="form-error">
                      <small>{{ "SIGN.ERROR.EMAIL" | translate }}</small>
                    </ion-text>
                  </ion-item>
                  <ion-item>
                    <ion-label position="stacked">{{ 'SIGN.PASSWORD' | translate }} <ion-text color="danger">*</ion-text></ion-label>
                    <ion-input required type="password" formControlName="password" (keyup.enter)="onSubmit()"></ion-input>
                  </ion-item>
                  <ion-item *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
                    <ion-text color="danger" class="form-error">
                      <small>{{ "SIGN.ERROR.PASSWORD" | translate }}</small>
                    </ion-text>
                  </ion-item>
                  <ion-button (click)="onSubmit()" [disabled]="loginForm.invalid"  expand="block" color="primary" mode="ios" class="mt-3">
                    {{ "SIGN.ACCESS" | translate }}
                  </ion-button>
                  <ion-button (click)="active=false" expand="block" fill="clear" shape="round" class="mb-3" mode="ios">
                    {{ "SIGN.FORGET_YOUR_PASSWORD" | translate }}
                  </ion-button>
                </form>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #forgotPwd>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-md-7">
                <form [formGroup]="forgotPasswordForm">
                  <ion-item>
                    <ion-label position="stacked">{{ 'SIGN.EMAIL' | translate }} <ion-text color="danger">*</ion-text></ion-label>
                    <ion-input required type="email" formControlName="username"></ion-input>
                  </ion-item>
                  <ion-item *ngIf="forgotPasswordForm.get('username').invalid && forgotPasswordForm.get('username').touched">
                    <ion-text color="danger" class="form-error">
                      <small>{{ "SIGN.ERROR.EMAIL" | translate }}</small>
                    </ion-text>
                  </ion-item>
                  <ion-button class="mt-3" (click)="onSubmitForgotPassword()" [disabled]="forgotPasswordForm.invalid" expand="block" color="primary" shape="round" mode="ios">
                    {{ "SIGN.SEND" | translate }}
                  </ion-button>
                  <ion-button (click)="active=true" expand="block" fill="clear" shape="round" class="mb-3" mode="ios">
                    {{ "SIGN.BACK_TO_LOGIN" | translate }}
                  </ion-button>
                </form>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="onRegister()" expand="block" fill="clear" color="primary" mode="ios">
      <span style="font-size: .85rem" [innerHtml]="'SIGN.YOU_DONT_HAVE_AN_ACCOUNT' | translate"></span>
    </ion-button>
  </ion-toolbar>
</ion-footer>
