<ion-header class="ion-no-border">
  <ion-toolbar color="tertiary">
    <ion-title>Live Chat</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="mt-4 px-4">
    <ion-text color="medium">
      <p class="text-center" style="font-size: .8rem">
        No intercambie informacion personal, su seguridad es lo mas importante....
      </p>
    </ion-text>
  </div>
  <ng-container *ngFor="let item of chat$ | async as list">
    <div class="imessage">
      <p [ngClass]="item.type === 'COMPANY' ? 'from-them' : 'from-me'">
        <span>{{ item.message }}</span>
        <span></span>
          <!-- <img *ngIf="item.input ==='IMG'" [src]="item.message" class="img" (click)="openPop(item.message)"> -->
          <span style="font-size: 10px; color: #6C6C6C">
            {{ item.date | amTimeAgo }}
          <ion-icon *ngIf="item.type === 'ME' || item.type ==='USER'"
            name="checkmark-done" [color]="item.status === 'READ' ? 'success' : 'medium'">
          </ion-icon>
        </span>
      </p>
    </div>
  </ng-container>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-input
      spellcheck="true"
      autocomplete="true"
      autocorrect="true"
      rows="1"
      class="chat-input"
      [(ngModel)]="message"
      placeholder="type message..."
      (keyup.enter)="onSubmit()"
    >
    </ion-input>
    <ion-buttons slot="primary">
      <ion-button (click)="onSubmit()" slot="end" class="send-chat-button" [disabled]="!message">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
