<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" *ngIf="!uid">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="chevron-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'SERVICE_CHAT' | translate }}</ion-title>
    <ion-buttons slot="end" *ngIf="uid">
      <ion-button (click)="onCloseModal()">
        <ion-icon slot="icon-only" name="close" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true">
  <div class="mt-4 px-4">
    <ion-text color="medium">
      <p class="text-center" style="font-size: .8rem">
        {{ 'MESSAGE_CHAT' | translate }}
        <span style="display: block; font-weight: 700;">{{ uid }}</span>
      </p>
    </ion-text>
  </div>
  <ng-container *ngFor="let item of messages$ | async as list">
    <app-chat-msg [item]="item"></app-chat-msg>
  </ng-container>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-input
      spellcheck="true"
      autocomplete="true"
      autocorrect="true"
      rows="1"
      class="chat-input"
      [(ngModel)]="message"
      [placeholder]="'WRITE' | translate"
      (keyup.enter)="onSubmit()"
      (ngModelChange)="onEventInput($event)"
    >
    </ion-input>
    <ion-buttons slot="primary">
      <ion-button  fill="clear" (click)="setCamera()" *ngIf="!activeMessage">
        <ion-icon name="camera" color="info"></ion-icon>
      </ion-button>
      <ion-button (click)="onSubmit()" slot="end" class="send-chat-button" *ngIf="activeMessage">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
