ion-header {
  ion-toolbar {
    ion-title{
      color:rgb(40, 40, 40);
    }
  }
}

ion-content {
  --background: #feffef;
}


ion-header {
  ion-toolbar {
    --background: #feffef;
  }
}

ion-footer {
  ion-toolbar {
    --background: #eeefde;
    ion-input {
      border: .5px;
      height: 40px;
      border-radius: 10px;
      --background: #d5d5d5;
      --padding-start: 10px;
      --padding-end: 10px;
      --color: rgb(81, 79, 79);
    }
    ion-button {
      --padding-start	: 8px;
      --padding-end	  : 8px;
    }
    .buttons-text {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}
