<div id="container" class="mt-3">
  <form [formGroup]="changeForm">
    <div class="row justify-content-center">
      <div class="col-12">
        <ion-list>
          <ion-item lines="none" class="mb-3">
            <ion-label position="stacked">Password <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="pass" type="password"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="stacked">New Password <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="newpass" type="password"></ion-input>
          </ion-item>
        </ion-list>
      </div>
      <div class="col-8 mt-3">
        <ion-button (click)="onSubmit()" expand="block" color="warning" shape="round" mode="ios" [disabled]="changeForm.invalid">
        change Password
        </ion-button>
      </div>
    </div>
  </form>
</div>
