<app-header></app-header>
<ion-content>
  <div class="container mt-4">
    <div class="row justify-content-center mb-5">
      <div class="col-12 col-md-10">
        <ion-segment mode="md" (ionChange)="segmentChanged($event)"  [value]="segment">
          <ion-segment-button  mode="md" value="mechanics">
            <ion-label>mechanics</ion-label>
          </ion-segment-button>
          <ion-segment-button  mode="md" value="replacement">
            <ion-label>replacement</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>
    </div>
    <app-mechanics *ngIf="segment === 'mechanics';else replace"></app-mechanics>
    <ng-template #replace>
      <app-parts></app-parts>
    </ng-template>

    <div class="row justify-content-center mb-3">
      <div class="col-11">
      </div>
    </div>

  </div>
</ion-content>
<ng-template #replacement>

</ng-template>
<!--  -->
