<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title>Meka</ion-title>
    <!-- <ion-item lines="none" (click)="openSearch()">
      <ion-icon slot="start" name="search"></ion-icon>
      <ion-label><h2>Search</h2></ion-label>
    </ion-item> -->
    <!-- <ion-searchbar mode="ios" placeholder="Search" (ionFocus)="openSearch()"></ion-searchbar> -->
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
